{% extends "base.html.twig" %}

{% block content%}
    <div class="users">
    {% for id,element in users %}
        <a href="{{ path('profile_page', {'id': id }) }}">
            <div class="userCard">
                <div class="cardImage">
                    <img src={{ asset('assets/images/'~element.image) }} alt="" class="resp userCardImage">
                </div>
                <div class="userCardName">
                    <h2>{{ element.name}}</h2>
                    <h4>({{  element.shortname }})</h4>
                </div>
                <div class="userCardReknown">
                    <h5>{{ element.reknown }}</h5>
                </div>
                <div class="userCardBio">
                    <h6>{{ element.bio }}</h6>
                </div>
            </div>
        </a>
    {% endfor %}
    </div>
{% endblock %}

